.App {
  text-align: center;
}

.twitter-meta {
  width: 200px;
  position: fixed;
  left: 0;
  overflow-y: scroll;
  border-right: solid 1px lightgray;
}

.shark-sightings {
  height: 100%;
  width: 200px;
  position: fixed;
  right: 0;
  overflow-y: scroll;
  border-left: solid 1px lightgray;
}

.side-bar-menus {
  height: 100%;
  bottom: 80px;
  top: 0;
  z-index: 999;
}

.shark-attacks {
  padding-bottom: 90px;
}

.shark-attack {
  border-bottom: 1px solid lightgray;
}

.shark-attack:nth-child(1) {
  border-top: 1px solid lightgray;
}

.attack-location {
  text-align: right;
  padding-left: 10px;
}

.data {
  padding: 0 250px 80px 250px;
}

#contentFooter {
  z-index: 999;
  border-top: 1px solid #d3d3d3;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 80px;
  padding-top: 10px;
  background-image: url('./Images/photo-1475372674317-8003c861cb6a.jpeg');
  background-position: center;
  color: white;
}

#contentFooter > a {
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
}

.shark-week-link {
  color: white;
}

.bar-chart {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
